<div class="card" style="height: -webkit-fill-available;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <button type="button" (click)="addTemplate(domainOps)" class="float-right btn btn-primary btn-sm">Add</button>
    <h5 style="color:forestgreen" class="card-title">Template</h5>
    <div class="container">
      <!-- <button type="button" [routerLink]="['/add-template']" class="btn btn-info btn-sm" data-toggle="modal" data-target="#bootstrapModel">Add</button> -->
      <!-- <button type="button" (click)="isAddScreen=true" class="btn btn-info btn-sm">Add</button> -->
      <!-- <button type="button" (click)="addTemplate(domainOps)" class="float-right btn btn-primary btn-sm" >Add</button> -->

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Template</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of templateArray; let i= index">
            <td>{{data?._id}}</td>
            <td>{{data?.category}}</td>
            <td>{{data?.subCategory}}</td>
            <td>{{data?.template}}</td>
            <td>
              <a (click)="onEditClick(i); editModal(domainOps)">Edit / </a>
              <a (click)="onDeleteClick(data?._id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>

<ng-template #domainOps let-c="close " let-d="dismiss">
  <div class="modal-header bg-dark text-white p-2">
    <h5 class="modal-title">{{operation}} ADD</h5>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="mainForm">
      <div class="form-group required">
        <label class="col-sm-4 col-form-label control-label">Category</label>
        <select formControlName="category" class="form-control" (change)="onCategoryChange($event.target.value)">
          <option *ngFor="let category of categoryData" [value]="category?.category">{{category?.category}}</option>
        </select>
      </div>
      <div class="form-group required">
        <label class="col-sm-4 col-form-label control-label">Subcatgory</label>
        <select formControlName="subCategory" class="form-control">
          <option *ngIf="!subCategoriesArray || subCategoriesArray.length < 1" [value]=" ">-- Please Select Category First --</option>
          <option selected [value]="''" *ngIf="subCategoriesArray && subCategoriesArray.length > 0">-- Select --</option>
          <option *ngFor="let subCategory of subCategoriesArray" [value]="subCategory?.subCategory">{{subCategory?.subCategory}}</option>
        </select>
      </div>
      <div class="form-group required">
        <label class="col-sm-4 col-form-label control-label">Template Name</label>
        <input type="text" formControlName="templateName" class="form-control">
      </div>
      <div class="form-group required ">
        <label class="col-sm-4 col-form-label control-label">Template</label>
        <!-- <textarea [mention]="items" class="form-control" rows="5" ></textarea>   -->   
        <!-- <textarea [mention]="items"   formControlName="template" class="form-control"></textarea> -->
        <textarea class="form-control" formControlName="template" rows="4" [mention]="items" [mentionConfig]="{triggerChar:'$',maxItems:10,labelKey:'name'}"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer p-3 bg-light">
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-sm" (click)="onSaveClick()">Save</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-sm" (click)="c('Close click')">Cancel</button>
    </div>
  </div>
</ng-template>

<!-- <ng-container>
  <form [formGroup]="mainForm">
    <div class="form-group required ">
      <label class="col-sm-4 col-form-label control-label">Template</label>
      <textarea [mention]="items" class="form-control" rows="5" ></textarea>  
          <input type="text" [mention]="items">
    </div>
  </form>
  <button type="button" class="btn btn-primary btn-sm" (click)="check(mainForm.get('template').value)">Save</button>
</ng-container> -->